@import "./utilities/_colors.scss";
.header {
  width: 100%;
  background-color: $bell-yellow-primary;
  transition: height .5s ease-in-out;

  max-width: 1286px;

}
.logo {
  height: 100%;
  width: auto;
  padding-left: 40px;
  margin-left: 1rem;

}