@import "./utilities/_imports.scss";

.header {
  width: 100%;
  background-color: $bell-yellow-primary;
  transition: height .5s ease-in-out;

}
.logo {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto;

  @include sm {
    height: 150px;
    padding-left: 40px;
    margin-left: 1rem;
  }
}