@import "./utilities/_imports.scss";
nav.nav {

  background-color: $bell-black-accent;
  position: relative;

  ul.nav-links {

    list-style-type: none;
    display: inline-flex;

    li.link {

      a {

      }
    }
  }
}