@import "./utilities/_imports.scss";


div.article-grid {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;

  div.article-list,
  div.author-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  div.article {

    display: flex;
    flex-wrap: wrap;
    width: 32%;
    cursor: pointer;
    padding: .5rem;
    color: $bell-black-accent;

    &.article-featured {
      width: 45%;
    }

    .article-heading,
    .article-body,
    .article-content {

      width: 100%;
    }

    .article-body {

      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      img {
        width: 100%;
        height: auto;
      }

      p {
        width: 35%;
        font-size: 1rem;
      }
    }

    .article-heading,
    .article-content {

      &.author-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .author-profile {
          display: flex;
          align-items: center;
          width: 30%;
        }
        .author-body {
          width: 65%;
        }
      }

      .title {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1.5rem;
        margin: .25rem 0;
      }

      .byline {

        font-weight: bold;
        font-size: 1rem;
        font-style: italic;
        margin: 0;

        &::before {
          content: "By: ";
        }

        &.author-byline {
          font-size: 1rem;
          font-style: normal;

          &::before {
            content: none;
          }
        }
      }

      .tagline {
        font-size: 1rem;
        margin-top: 1rem;
      }

      p {
        margin: 0;
      }

      .description {
        font-size: 1rem;
        margin: 0;
      }

      .profile {
        width: 80px;
        border-radius: 50%;
      }
    }

  }

  div.article-row,
  div.author-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
  div.article-list,
  div.author-list {
    width: 25%;

    & div.list-article,
    & div.author-article {
      width: 100%;
      margin: .25rem 0;
      padding: .25rem .5rem;
    }
  }

  @include xl {

    padding: 0;
  }

}
