@import "./utilities/_imports.scss";

#app.dark,
.content.dark {

  background-color: $bell-black-accent;

}

.shadow.dark {

  box-shadow: 4px 4px 0 0 $bell-blue-secondary;

  &:hover {
    box-shadow: 6px 6px 0 0 $bell-blue-secondary;
  }
}

footer.footer.dark {

  background-color: $bell-blue-secondary;

}

div .article-grid div.article.dark {

  color: $bell-white-accent;
}

nav.nav.dark {

  background-color: $bell-accent-primary;
}

a.dark {

  color: $bell-white-accent;

  &:hover {
    color: $bell-accent-primary;
  }
}

h1.dark,
h2.dark {

  color: $bell-blue-secondary;

}

p.dark,
label.dark {
  color: $bell-white-accent !important;
}

.admin-dropdown-menu li a {

  color: $bell-blue-secondary;

  &.dark {
    color: $bell-white-accent;
  }
  &:hover {
    color: $bell-accent-primary;
  }
}

.admin-dropdown .admin-dropdown-menu.dark {

  background-color: $bell-black-accent;
}