@import "./utilities/_imports.scss";

footer.footer {

  background-color: $bell-accent-primary;
  width: 100%;

  div.container {

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    div.footer-section {

      width: 24%;
      padding: 0 2.5rem;

      ul.footer-list {

        list-style-type: none;
        padding: 0;

        li.footer-link a {

          color: $bell-white-accent;
          padding: 1rem 0;
        }
      }

      img.footer-logo {
        height: 150px;
        width: auto;
        float: right;

      }
    }

    @include xl {

      padding: 0;
    }

  }
}
