@import "utilities/imports";

.header {
  width: 100%;
  background-color: $bell-yellow-primary;
  transition: height .5s ease-in-out;

}
.logo {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto;

  @include sm {
    height: 150px;
    padding-left: 40px;
    margin-left: 1rem;
  }
}

.admin-dropdown {
  position: absolute;
  top: 1rem;
  right: 1rem;

  .admin-dropdown-menu {
    display: block;
    background-color: $bell-white-accent;
    max-height: 0;
    transition: all .2s ease-in-out;
    overflow: hidden;
    top: 3rem;
    right: 1rem;
    position: absolute;

    li {

      list-style-type: none;
    }

    &.admin-dropdown-menu-active {

      display: block;
      position: absolute;
      text-align: right;
      right: 0;
    }
  }
}