@import "./utilities/_imports.scss";

.content {
  margin: 0 40px;
  padding: 0 1rem;

  @include xl {

    padding: 0;
    margin: 0;
  }

}
.container {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
}
