@import "./utilities/_imports.scss";

.content {
  margin: 0 40px;
  padding: 0 1rem;

  background-color: $bell-white-accent;

  @include xl {

    padding: 0;
    margin: 0;
  }

}
.container {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
}

.top-story-line {

  width: 100%;
  position: relative;

  &::before,
  &::after {
    border-top: 8px solid $bell-blue-secondary;
    width: 40%;
    height: 80px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    z-index: 0;
    content: '';
  }
  &::after {
    right: 0;
  }

  h1 {
    text-align: center;
    z-index: 10;
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }
}

.row {
  display: flex;
  justify-content: flex-start;

  .col {
    align-self: flex-start;

    &.col-wide {
      width: 65%;
    }
    &.col-narrow {
      width: 35%;
    }
    &.col-no-header {
      margin-top: 6rem;
    }
  }
}

#app {

  background-color: $bell-white-accent;

}