@import "./utilities/_imports.scss";

.content {
  margin: 0 40px;
  padding: 0 1rem;

  background-color: $bell-white-accent;

  @include xl {

    padding: 0;
    margin: 0;
  }

}
.container {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: flex-start;

  .col {
    align-self: flex-start;

    &.col-wide {
      width: 65%;
    }
    &.col-narrow {
      width: 35%;
    }
    &.col-no-header {
      margin-top: 6rem;
    }
  }
}

#app {

  background-color: $bell-white-accent;

}