@import "utilities/imports";

a {

  color: $bell-white-accent;
  padding: 1rem 1.5rem;
  text-decoration: none;

  transition: color .3s ease-in-out;

  &:hover {
    color: $bell-accent-primary;
  }
}

