@import "utilities/_imports.scss";

.modal {
  display: none;
  z-index: 2;

  &.is-active {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(120, 120, 120, .5);
    top: 0;
    left: 0;
    text-align: center;
  }

  .modal-card-head h1 {
    text-align: center;
    margin: 0;
  }

  .modal-card {
    z-index: 2;
    top: 15%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .modal-background {
    background-color: $bell-white-accent;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: -1;
  }

  .modal-close {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  .modal-card-body {
    width: 90%;
    margin: 0 auto;

    .modal-card-body-inner  {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      height: auto;

      .field {
        width: 45%;
        padding: .75rem .75rem;

        &.full {
          width: 100%;
        }

        .control {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          label,
          input {
            width: 45%;
          }
        }
      }
      button {
        text-align: center;
      }
    }

  }
}

#editor,
.update-editor {
  border: 1px solid black;
  width: 85%;
  margin: 0 auto;
}

.ql-toolbar.ql-snow {
  width: 85%;
  margin: 0 auto;
  text-align: left;
}

.ql-editor {
  max-height: 350px;
}
