@import "utilities/_imports.scss";

.modal {
  display: none;
  z-index: 2;

  &.is-active {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(120, 120, 120, .5);
    top: 0;
    left: 0;
    text-align: center;
  }

  .modal-card {
    z-index: 2;
    top: 20%;
    position: relative;
  }

  .modal-background {
    background-color: $bell-white-accent;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: -1;
  }

  .modal-close {

    position: absolute;
    top: 10%;
    right: 10%;
  }
}

.ql-toolbar.ql-snow {
  width: 85%;
  margin: 0 auto;
  text-align: left;
}

.ql-editor {
  height: 350px;
  max-height: 350px;
}