@import "utilities/imports";


nav.nav {

  background-color: $bell-black-accent;
  position: relative;
  width: 100%;
  padding: 1.5rem 0;

  &.nav-mobile {

    height: 223px;
    overflow: hidden;
    transition: all .75s ease-in-out;

    #nav-toggle {
      color: $bell-white-accent;
      position: absolute;
      top: .25rem;
      right: .5rem;
      font-size: 2.5rem;

      &.open {
        top: .5rem;
      }

      @include md {
        display: none;
      }
    }
    &.nav-mobile-collapsed {
      height: 0;

      @include md {
        height: auto;
      }
    }
  }

  @include md {
    padding: .5rem 0;
  }

  ul.nav-links {

    list-style-type: none;
    display: block;
    margin: 1.5rem 0;
    padding: 0;

    li.link {

      text-align: center;
      padding: .25rem;

      a {
        color: $bell-white-accent;
        padding: 1rem 3rem 1rem 0;
        font-family: Bebas Kai, 'Georgia', 'Helvetica', sans-serif;
      }

      @include md {
        text-align: left;
        padding: 0;
      }

      &.link-search {
        position: absolute;
        right: .25rem;

        transition: right .5s ease-in-out;
      }

      &.link-search-input {
        position: absolute;
        right: 0;

        input {
          
          height: 1.5rem;
          width: 0;
          margin-right: 3rem;
          border: none;
          background-color: $bell-black-accent;

          transition: width .5s ease-in-out, background-color .5s ease-in-out;
        }
      }
    }

    @include md {
      display: inline-flex;
      margin: 0;
      padding: 0 0 0 2.5rem;
    }

    @include xl {
      padding: 0;
    }
  }
}

.nav-links {
  width: 100%;
}
.nav-logo {
  left: 1rem;
  transform: translateX(-200%);
  transition: transform .5s ease-in-out;
  position: absolute;
}
#search-bar {
  cursor: pointer;
}