@import "./utilities/_imports.scss";

div.post-list {

  div.posts {

    display: block;
    padding: 1rem 0;
    margin: 1rem 0;
    width: 100%;
    border: 1px solid $bell-black-accent;

    article.post {
      display: block;
      width: 100%;

      .post-header {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;

        h2 {
          margin: 0;
          align-self: flex-start;
          width: 90%;
        }
        div {
          align-self: flex-end;
        }
      }
      .post-body {

      }
    }
  }
}