@import "utilities/_imports.scss";

.pull-quote {

  padding: 2rem;
  font-weight: 900;
  font-style: italic;
  line-height: 1.25;


  &:before,
  &:after {
    content: "\"";
  }
}

.pull-author {

  &:before {
    content: "-";
  }
}