@import "utilities/imports";


body {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.0rem;
}
h3 {
  font-size: 2.75rem;
}
h4 {
  font-size: 2.25rem;
}
h5,
h6 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;

  @include sm {
    text-align: left;
  }
}

p,
li,
a,
span,
i,
td,
tr,
table,
button,
label,
input,
textarea {
  font-size: 1.5rem;
  text-align: left;
}

.shadow {

  box-shadow: 4px 4px 0 0 $bell-accent-primary;
  transition: all .2s ease-in-out;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 0 $bell-accent-primary;
  }
}
.ql-snow .ql-picker.ql-header {
  width: 113px;
}