$bell-yellow-primary: #FFE600;
$bell-blue-secondary: #6891B5;
$bell-accent-primary: #998888;
$bell-grey-accent:    #BFB8AD;
$bell-black-accent:   #04070D;
$bell-white-accent:   #FDFDF9;
$bell-red-accent:     #C5050C;
$bell-dark-grey:      #8D8D8D;